<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a data-toggle="tab" href="#lg2">
                            <h4> Add Flash Deal </h4>
                        </a>
                    </div>
                    <div id="lg2" class="tab-pane">
                        <div class="login-form-container">
                            <div class="login-register-form">
                                <form action="#" method="post">
                                    {{#each shopprod}}
                                    <br>ID: {{id}}<!-- Good to use my catalouge id as a foriegn key--> Product Name: {{name}}   Price: {{price}}     Image <img src="/uploads/products/{{image}}" width="50" height="auto">
                                    {{/each}}
                                    <div class="form-group">
                                        <label for="name">Product Name</label>
                                        <input id="pname" name="pname" class="form-control" type="text" value="" >
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Discounted Price ($)</label>
                                        <input id="discountp" name="discountp" class="form-control" type="text" value="" >
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Start Date (DD/MM/YYYY)</label>
                                        <input id="dstartdate" name="dstartdate" class="form-control" type="text" value="" >
                                    </div>

                                    <div class="form-group">
                                        <label for="name">End Date (DD/MM/YYYY)</label>
                                        <input id="dexpirydate" name="dexpirydate" class="form-control" type="text" value="" >
                                    </div>

                                    <div class="button-box">
                                        <button type="submit"><span>Confirm</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
