<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider-2 slider-height-9 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="background-image:url(/img/tailor_1.jpeg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="slider-content-7 slider-content-mrg-hm17 slider-animated-1">
                            <h3 class="animated">Set up your online Shop</h3>
                            <h1 class="animated">Join Us Now!</h1>
                            <div class="slider-btn-9 btn-hover">
                                <a class="animated" href="/tailoregister">Register Here!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-2 slider-height-9 d-flex align-items-center slider-height-res bg-img hm-13-slider" style="background-image:url(/img/tailor_4.jpeg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="slider-content-7 slider-content-mrg-hm17 slider-animated-1">
                            <h3 class="animated" style="color: white;">Share Your Expertise</h3>
                            <h1 class="animated" style="color: white;">Teach Tailoring</h1>
                            <div class="slider-btn-9 btn-hover">
                                <a class="animated" href="shop.html" style="color: white;">Find Out More!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="testimonial-active owl-carousel nav-style-1 nav-testi-style">
                    <div class="single-testimonial text-center">
                        <img src="assets/img/testimonial/testi-1.png" alt="">
                        <h3>Why Join Us?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Vincenzo Cassano</h5>
                            <span>Tailor</span>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <img src="assets/img/testimonial/testi-1.png" alt="">
                        <h3>Why Join Us?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Grace Alvarado</h5>
                            <span>Tailor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area pt-95 pb-70">
    <div class="container">
        <div class="section-title-2 text-center mb-60">
            <h2>Popular Tailors </h2>
            <p>Lorem ipsum dolor sit amet conse ctetu.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/img/team/team-1.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" title="Wishlist" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Mr.Mike Banding</h4>
                        <span>Tailor </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/img/team/team-3.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" title="Wishlist" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Mr.Peter Pan</h4>
                        <span>Dresses Specialist </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/img/team/team-2.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" title="Wishlist" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Ms.Sophia</h4>
                        <span>Specialise in Suits </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/img/team/team-4.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" title="Wishlist" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Mr.John Lee</h4>
                        <span>Senior Tailor </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

