<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a data-toggle="tab" href="#lg2">
                            <h4> Change Target </h4>
                        </a>
                    </div>
                    <div id="lg2" class="tab-pane">
                        <div class="login-form-container">
                            <div class="login-register-form">
                                <form action="/tailor/target/{{target.id}}?_method=PUT" method="post" id="target">
                                    <div class="form-group">
                                        <label for="name">Enter Target:<span style="color: red;">*</span></label>
                                        <input id="value" name="value" class="form-control" type="text" value="{{target.value}}">
                                    </div>
                                    <div class="button-box">
                                        <button type="submit"><span>Confirm</span></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
