<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Courses You Offer</li>
            </ul>
        </div>
    </div>
</div>
<div class="Blog-area pt-100 pb-100">
    <div class="container"> 
        <!-- <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="ml-20"> -->
                    <a href="/createcourse" style="font-size: 20px; font: 20px;"> <i class="fa fa-plus"></i> ADD COURSE</a>
                    
                    <br><br>
                    <div class="row">
                        <!--for loop?????????-->

                        
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-wrap-2 mb-30">
                                <div class="blog-img-2">
                                    <!-- <img src="public/img/sewimg2.jpg"> -->
                                    <a href="single-product.html"><img src="/img/sewimg1.jpg" style="height:150px; width: 100%;"></a>
                                </div>
                                <div class="blog-content-2">
                                    
                                    <h4>Sewing Basics</h4>
                                    <div class="blog-meta-2">
                                        By Ah Tong Tailor
                                    </div>
                                    <br>
                                    <div>
                                        <p>Learn basic sewing skills!</p>
                                    </div>
                                    
                                    <div class="blog-share-comment">
                                        <br>
                                        <hr>
                                        <br>
                                        <div class="blog-share" style="float: right;">
                                            <span style="font-size: 25px;">SGD $ 25</span>
                                        </div>
                                    </div>
                                    <div class="blog-btn-2">
                                        <a href="/updatecourse">Edit</a> &nbsp;
                                        <a href="/addcontent">Content</a> &nbsp;
                                        <a href="/">Delete</a>
                                    <!--delete course modal-->
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="blog-wrap-2 mb-30">
                                <div class="blog-img-2">
                                    <!-- <img src="public/img/sewimg2.jpg"> -->
                                    <a href="single-product.html"><img src="/img/sewimg5.jpg" style="height:150px; width: 100%;"></a>
                                </div>
                                <div class="blog-content-2">
                                    
                                    <h4>DIY Emboidery</h4>
                                    <div class="blog-meta-2">
                                        By Ah Tong Tailor
                                    </div>
                                    <br>
                                    <div>
                                        <p>Want patterns on your clothes? Learn emboidery change how your clothes look!</p>
                                    </div>
                                    
                                    <div class="blog-share-comment">
                                        <br>
                                        <hr>
                                        <br>
                                        <div class="blog-share" style="float: right;">
                                            <span style="font-size: 25px;">SGD $ 30</span>
                                        </div>
                                    </div>
                                    <div class="blog-btn-2">
                                        <a href="/updatecourse">Edit</a> &nbsp;
                                        <a href="/addcontent">Content</a> &nbsp;
                                        <a href="">Delete</a>
                                    <!--delete course modal-->
                                    </div>
                                        
                                </div>
                            </div>
                        </div>
                        
                        
                       
                    </div>
                    <div class="pro-pagination-style text-center mt-20">
                        <ul>
                            <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
            <!--
            <div class="col-lg-3">
                <div class="sidebar-style">
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Search </h4>
                        <div class="pro-sidebar-search mb-55 mt-25">
                            <form class="pro-sidebar-search-form" action="#">
                                <input type="text" placeholder="Search here...">
                                <button>
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Recent Projects </h4>
                        <div class="sidebar-project-wrap mt-30">
                            <div class="single-sidebar-blog">
                                <div class="sidebar-blog-img">
                                    <a href="#"><img src="assets/img/blog/sidebar-1.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-blog-content">
                                    <span>Photography</span>
                                    <h4><a href="#">T- Shart And Jeans</a></h4>
                                </div>
                            </div>
                            <div class="single-sidebar-blog">
                                <div class="sidebar-blog-img">
                                    <a href="#"><img src="assets/img/blog/sidebar-2.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-blog-content">
                                    <span>Branding</span>
                                    <h4><a href="#">T- Shart And Jeans</a></h4>
                                </div>
                            </div>
                            <div class="single-sidebar-blog">
                                <div class="sidebar-blog-img">
                                    <a href="#"><img src="assets/img/blog/sidebar-3.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-blog-content">
                                    <span>Design</span>
                                    <h4><a href="#">T- Shart And Jeans</a></h4>
                                </div>
                            </div>
                            <div class="single-sidebar-blog">
                                <div class="sidebar-blog-img">
                                    <a href="#"><img src="assets/img/blog/sidebar-1.jpg" alt=""></a>
                                </div>
                                <div class="sidebar-blog-content">
                                    <span>Photography</span>
                                    <h4><a href="#">T- Shart And Jeans</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-35">
                        <h4 class="pro-sidebar-title">Categories  </h4>
                        <div class="sidebar-widget-list mt-20">
                            <ul>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Women  <span>4</span> </a>
                                        <span class="checkmark"></span> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Men  <span>4</span> </a>
                                        <span class="checkmark"></span> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Bags  <span>4</span> </a>
                                        <span class="checkmark"></span> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value=""> <a href="#">Accessories  <span>4</span> </a>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-50">
                        <h4 class="pro-sidebar-title">Tag </h4>
                        <div class="sidebar-widget-tag mt-25">
                            <ul>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">For Men</a></li>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Fashion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
</div>