<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider single-slider-medical bg-skyblue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-medical slider-animated-1">
                            <h3 class="animated">Join Our Team </h3>
                            <h1 class="animated">TailorNow Riders Team</h1>
                            <div class="slider-btn-medical btn-hover">
                                <a class="animated" href="../rider/rideregister">Sign Up Here!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-medical slider-animated-1">
                            <img class="animated" src="/img/rider_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="single-slider single-slider-medical bg-skyblue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-medical slider-animated-1">
                            <h3 class="animated">Inspiring Story</h3>
                            <h1 class="animated">Feature Rider Story</h1>
                            <div class="slider-btn-medical btn-hover">
                                <a class="animated" href="#">Find Out More! </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-medical slider-animated-1">
                            <img class="animated" src="/img/rider_3.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suppoer-area pb-100">
    <div class="container">
        <div class="support-wrap-4-border">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="support-wrap-4 mb-30">
                        <div class="support-icon-4">
                            <img class="animated" src="assets/img/icon-img/shipping-4.png" alt="">
                        </div>
                        <div class="support-content-4">
                            <h5>Incentives</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="support-wrap-4 mb-30">
                        <div class="support-icon-4">
                            <img class="animated" src="assets/img/icon-img/headphone-4.png" alt="">
                        </div>
                        <div class="support-content-4">
                            <h5>Job Expectations</h5>
                            <a href="../rider/rideraccount">RiderAccount</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="support-wrap-4 mb-30">
                        <div class="support-icon-4">
                            <img class="animated" src="assets/img/icon-img/money-4.png" alt="">
                        </div>
                        <div class="support-content-4">
                            <h5>Riders Stories</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pt-95 pb-55">
    <div class="container">
        <div class="section-title-7 text-center mb-60">
            <h2>Testimonial</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="#"><img src="assets/img/blog/blog-13.jpg" alt=""></a>
                        <span class="purple">Medical</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Rider <a href="#">1</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-14.jpg" alt=""></a>
                        <span class="pink">Medical</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Rider <a href="#">2</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-15.jpg" alt=""></a>
                        <span class="purple">Medical</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Rider <a href="#">3</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="medical-contact-area bg-img" style="background-image:url(assets/img/bg/bg-7.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5">
                <div class="medical-contact-text">
                    <h3>Please Call </h3>
                    <h2>Emergency Order</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <div class="medical-shape-img">
                            <img src="assets/img/icon-img/medical-contact-shape.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-10">
                        <div class="medical-contact-number-wrap">
                            <div class="medical-contact-img">
                                <img src="assets/img/icon-img/medical-contact.png" alt="">
                            </div>
                            <div class="medical-contact-number">
                                <h2>+88 254 254 123</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>