<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Acceptance of Order</li>
            </ul>
        </div>
    </div>
</div>
<div class="error-area pt-40 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="error">
                    <h1 style="font-size:30px">You have accepted the Order. Please Deliver it by 8pm Today. (15/05/2021) </h1>
                    <h2>Details: </h2>
                    <p>Customer: Customer1</p>
                    <p>Delivery Fee: $6</p>
                    <p>By when: 8pm 15/05/2021 (today)</p>
                    <p>Pick Up Location: <br> Blk 534 Ang Mio Kio Ave 5 #05-403 <br>Singapore 402932 </p>
                    <p>Destination: <br> Bedok Tailoring Shop <br>Blk 94B Bedok North Ave 4 <br>Singapore342123</p>
                        <a href="/rideroutecheck" class="error-btn" >Check Route</a>
                        <a href="/homerider" class="error-btn" >Back to home page</a>
                </div>
            </div>
        </div>
    </div>
</div>

