<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Shop Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details">
                    <div class="product-details-img">
                        <div class="tab-content jump"> 
                            <div id="shop-details-2" class="tab-pane active large-img-style">
                                <img src="/img/Map1.png" alt="">
                                <div class="img-popup-wrap">
                                    <a class="img-popup" href="/img/Map1.png"><i class="pe-7s-expand1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2>Customer: Customer1</h2>
                    <div class="product-details-price">
                        <span>Delivery Fee: $6 </span>
                    </div>
                    <p>By when: 8pm 15/05/2021 (today)</p>
                    <p>Pick Up Location: <br> Blk 534 Ang Mio Kio Ave 5 #05-403 <br>Singapore 402932 </p>
                    <p>Destination: <br> Bedok Tailoring Shop <br>Blk 94B Bedok North Ave 4 <br>Singapore342123</p>
                    <div class="pro-details-quality">
                        <div class="pro-details-cart btn-hover">
                            <a href="/racceptorder">Accept Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-toggle="tab" href="#des-details1">Additional information</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane ">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Weight</span> 1.00 kg</li>
                            <li><span>Dimensions</span>20 x 10 x 10 cm </li>
                            <li><span>Item</span> 2 Pants, 1 Shirt </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
