<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Orders History </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pt-90 pb-100">
    <div class="container">
        <h3 class="cart-page-title">Overview of Orders</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Map</th>
                                    <th>Location</th>
                                    <th>Customer Name</th>
                                    <th>Item</th>
                                    <th>Delivery Price</th>
                                    <th>Order Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-1.png" alt=""></a>
                                    </td>
                                    <td class="product-price-cart"><span class="amount">Ang Mio Kio</span></td>
                                    <td class="product-name"><a href="#">Customer1</a></td>

                                    <td class="product-price-cart"><span class="amount">Shirt</span></td>
                                    <td class="product-quantity">$4.00</td>
                                    <td class="product-wishlist-cart">
                                        <a href="#">Delivered</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-2.png" alt=""></a>
                                    </td>
                                    <td class="product-price-cart"><span class="amount">Tampines</span></td>
                                    <td class="product-name"><a href="#">Customer2</a></td>

                                    <td class="product-price-cart"><span class="amount">Pants</span></td>
                                    <td class="product-quantity">$6.00</td>
                                    <td class="product-wishlist-cart">
                                        <a href="#">Delivered</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-1.png" alt=""></a>
                                    </td>
                                    <td class="product-price-cart"><span class="amount">Bedok</span></td>
                                    <td class="product-name"><a href="#">Customer3</a></td>

                                    <td class="product-price-cart"><span class="amount">Tailored Suit</span></td>
                                    <td class="product-quantity">$8.00</td>
                                    <td class="product-wishlist-cart">
                                        <a href="#">Cancelled</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <h2>Total Amount Earned (with commission): $15.00 </h2>
        {{!-- <a href="/Riders_Home" class="error-btn" >Generate Rider's Report</a> --}}

    </div>
</div>