<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Delivery Completion </li>
            </ul>
        </div>
    </div>
</div>
<div class="error-area pt-40 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="error">
                    <h1 style="font-size:75px">Delievery Successful! </h1>
                    <h2>Go back to the main page to pick up more orders</h2>
                    <p>Order Delievered At: 7:30pm (15/05/21) </p>
                        <a href="/rordersmain" class="error-btn" >Back to home page</a>
                </div>
            </div>
        </div>
    </div>
</div>