<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider-2 slider-height-2 d-flex align-items-center bg-img" style="background-image:url(/img/mainad.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-12 ml-auto">
                        <div class="slider-content-3 slider-animated-1 text-center">
                            <h3 class="animated">
                              TailorNow
                            </h3>
                            <h1 class="animated">Welcome!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="suppoer-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-2">
                    <div class="support-icon">
                        <img class="animated" src="/img/icon-img/support-2.png" alt="">
                    </div>
                    <div class="support-content">
                        <h5>Support 24/7</h5>
                        <p>Round the clock customer service from TailorNow.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-3">
                    <div class="support-icon">
                        <img class="animated" src="/img/icon-img/support-3.png" alt="">
                    </div>
                    <div class="support-content">
                        <h5>Money Return</h5>
                        <p>If you are not satisifed with your order, drop us a message @TailorNow!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="support-wrap mb-30 support-4">
                    <div class="support-icon">
                        <img class="animated" src="/img/icon-img/support-4.png" alt="">
                    </div>
                    <div class="support-content">
                        <h5>Vouchers up for grabs!</h5>
                        <p>Lookout around our site, as we will be dropping vouchers around!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>