<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="single-slider single-slider-10 slider-height-8 bg-aqua">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6 d-flex align-items-center">
                        <div class="slider-content slider-content-10 slider-animated-2">
                            <h3 class="animated">One Stop Tailoring Services</h3>
                            <h1 class="animated"> TailorNow </h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/homecust">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-hm10 slider-animated-2 ml-40 mr-40">
                            <img class="animated" src="/img/suit.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-10 slider-height-8 bg-aqua">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6 d-flex align-items-center">
                        <div class="slider-content slider-content-10 slider-animated-2">
                            <h3 class="animated">Join Our Riders Team</h3>
                            <h1 class="animated">TailorNow <br>Riders</h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/Riders_Home">Check it Out!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-hm10 slider-animated-2 ml-40 mr-40">
                            <img class="animated" src="/img/riders.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-10 slider-height-8 bg-aqua">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6 d-flex align-items-center">
                        <div class="slider-content slider-content-10 slider-animated-2">
                            <h3 class="animated">Showcase Your Expertise</h3>
                            <h1 class="animated">TailorNow <br>Tailors</h1>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="/Tailor_Main">Start your Journey!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-hm10 slider-animated-2 ml-40 mr-40">
                            <img class="animated" src="/img/tailor_1.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area pt-80 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="single-banner mb-30">
                    <a href="product-details.html"><img src="/img/tailor2.jpeg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="single-banner mb-30">
                    <a href="product-details.html"><img src="/img/tailor_5.jpeg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="suppoer-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 mb-30 support-shape text-center">
                    <div class="support-content-2">
                        <img class="animated" src="assets/img/icon-img/support-1.png" alt="">
                        <h5>Fast Deliveries</h5>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 mb-30 support-shape text-center">
                    <div class="support-content-2">
                        <img class="animated" src="assets/img/icon-img/support-2.png" alt="">
                        <h5>Support 24/7</h5>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="support-wrap-2 mb-30 text-center">
                    <div class="support-content-2">
                        <img class="animated" src="assets/img/icon-img/support-3.png" alt="">
                        <h5>Money Return</h5>
                        <p>Lorem ipsum dolor sit amet consectetu adipisicing elit sed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area pb-55">
    <div class="container">
        <div class="section-title text-center mb-55">
            <h2>Reviews</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-1.jpg" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Customer1</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-2.jpg" alt=""></a>
                        <span class="pink">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Customer2</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">Lorem ipsum dolor sit <br> amet consec.</a></h3>
                            <span>By Shop <a href="#">Customer3</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>