<div class="container">
    <div class="custom-row-2">
        <div class="col-lg-8 col-md-7" style="margin: auto;">
            <div class="contact-form">
                <div class="contact-title mb-30">
                    <h2>View all notification</h2>
                </div>




                <!--NEW NOTIFICATIONS-->
                <div onclick="location.href='/manage_ads';"
                    style="background: #ebebeb; border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">

                    <div style="position: relative; float: right;">
                        <a href="/noti/delete/75"><i class="fa fa-times" title="Delete this notification"></i></a>
                    </div>
                    Your order has been picked up by the rider, and its on your way!
                    <div style="font-size:10px">
                        <i class="fa fa-rss"></i>
                        13 May 11:15AM
                    </div>

                </div>




                <div onclick="location.href='/manage_ads';"
                    style="border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">
                    <div style="position: relative; float: right;">
                        <a href="/noti/delete/72"><i class="fa fa-times" title="Delete this notification"></i></a>
                    </div>
                    Your order has been completed by the tailor, we are assigning a rider now.
                    <div style="font-size:10px">
                        <i class="fa fa-rss"></i>
                        13 May 11:13AM
                    </div>
                </div>



                <div onclick="location.href='/my_orders';"
                    style="border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">
                    <div style="position: relative; float: right;">
                        <a href="/noti/delete/71"><i class="fa fa-times" title="Delete this notification"></i></a>
                    </div>
                    Your payment of $210.0 has been received, and your order will be processed.
                    <div style="font-size:10px">
                        <i class="fa fa-rss"></i>
                        10 May 03:05PM
                    </div>
                </div>



                <div onclick="location.href='/my_orders';"
                    style="border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">
                    <div style="position: relative; float: right;">
                        <a href="/noti/delete/70"><i class="fa fa-times" title="Delete this notification"></i></a>
                    </div>
                    Your payment of $218.4 has been received, and your order will be processed.
                    <div style="font-size:10px">
                        <i class="fa fa-rss"></i>
                        22 Mar 10:58PM
                    </div>
                </div>



                <div onclick="location.href='/my_orders';"
                    style="border-radius: 3px; padding: 5px 10px 5px 12px; border-bottom: 1px solid black; cursor: pointer;">
                    <div style="position: relative; float: right;">
                        <a href="/noti/delete/69"><i class="fa fa-times" title="Delete this notification"></i></a>
                    </div>
                    Your payment of 218.4 has been received, and your order will be processed.
                    <div style="font-size:10px">
                        <i class="fa fa-rss"></i>
                        22 Mar 02:56PM
                    </div>
                </div>



                <p class="form-messege"></p>
            </div>
        </div>
    </div>
</div>
<br>