<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active"> Forget Password </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4> Forget Password </h4>
                        </a>
                        <div class="tab-content">
                            <p> Enter your email address below. If we have it on file, we will send you a reset email.
                            </p>
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form method="post" action="/customer/forgetpassword">
                                        <label for="email">Email Address</label>
                                        <input type="email" name="email" id="email" class="form-control"
                                            placeholder="Email Address">
                                        <br>
                                        <button type="submit"><span>Submit</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>