

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Content </li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-100 pb-100">
    <div class="container">
        <h2>
            <!--
            {% for course in courseDict %}
                {% if id == courseDict[course].get_courseid() %}
                    title
                {% endif %}
            {% endfor %}
            -->
        </h2>
        <div class="custom-row-2">


            <div class="col-lg-4 col-md-5" >
                <div class="contact-form" style=" padding-left: 80px; background-color: transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                    <div class="contact-title mb-20" style="width: 200px; float: left; " >
                        <h2>Basic Sewing Skills</h2>
                        <p>By Ah Tong Tailor</p>
                        <a href="">SCHEDULE LIVE COURSE </a>
                        <br><br>
                        <h4 style="font-weight: bold;">
                            <!--
                            {% for course in courseDict %}
                                {% if id == courseDict[course].get_courseid() %}
                                    title
                                {% endif %}
                            {% endfor %}
                            -->
                            Course Content
                        </h4>
                    </div>
                    <!--
                    {% for content in contentDict %}
                    <li style="margin:1.5px;"><a href=""></a> </li>
                    {% endfor %}
                    -->
                    <ol>
                        <li style="margin:1.5px;"><a href="#">How to use a sewing machine</a></li>
                        <li style="margin:1.5px;"><a href="#">Getting started</a> </li>
                        <li style="margin:1.5px;"><a href="#">Sewing Techniques</a></li>
                        <li style="margin:1.5px;"><a href="#">Hemming</a> </li>
                        <li style="margin:1.5px;"><a href="#">Application</a></li>
                        
                    </ol>
                </div>
            </div>
            <!--
            {% for key, value in contentDict.items() %}
            {% if topic == value.get_topic() %}
            -->
            <div class="col-lg-8 col-md-7">
                <div class="contact-form" style="background-color: transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
                    <h3 >How to use a sewing machine</h3>
                    <video   controls style="align-items: center; padding-top:5%; width: 100%; "> width="560" height="480"
                        <source src="/vid/vidtest1.mp4" type="video/mp4" style="align-items: center;">

                    </video>
                    <p class="form-messege"></p>
                </div>
            </div>
            <!--
            {% endif %}
            {% endfor %}
            -->
        </div>
    </div>
</div>