<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/homecust">Home</a>
                </li>
                <li class="active">View Shop</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-top-bar">
                    <div class="select-shoing-wrap">

                    </div>

                </div>
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                <!-- Start of Product List -->
                                {{#each shop}}
                                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="/viewshops/Ah Tong Tailor">
                                                <img class="default-img" src="/img/tailorstore_front/Ah Tong Tailor.jpg" alt="">
                                            </a>
                                            <span class="pink">-30%</span>
                                            <div class="product-action">
                                                <div class="pro-same-action pro-quickview" style="width:100%;">
                                                    <a title="Shop here" href="/viewshops/Ah Tong Tailor"><i class="fa fa-eye"></i> Shop here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <span style="font-weight: bold; font-size: 18px;"><a href="/view/storename">Ah Tong Tailor</a></span><br>
                                            713 Ang Mo Kio Ave 6 #01-4054<br>
                                            Singapore 560713<br>
                                            <!-- if else loop -->
                                            <span class="fa fa-star" style="color: orange;"></span><span class="fa fa-star" style="color: orange;"></span><span class="fa fa-star" style="color: orange;"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
                                            3 stars
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <!-- rubbish display for ui only -->
                                <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">
                                            <a href="/view/Yi%20Kah%20Tailor%20Centre%260">
                                                <img class="default-img" src="/img/tailorstore_front/Yi Kah Tailor Centre.jpg" alt="">
                                                <!--  <img class="hover-img" src="/static/uploads/Ah%20Tiong%20Tailor1.jpg" alt=""> -->
                                            </a>
                                            
                                            <div class="product-action">
                                                <div class="pro-same-action pro-quickview" style="width:100%;">
                                                    <a title="Shop here" href="/view/Yi%20Kah%20Tailor%20Centre%260"><i class="fa fa-eye"></i> Shop here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <span style="font-weight: bold; font-size: 18px;"><a href="/view/Yi%20Kah%20Tailor%20Centre%260">Yi Kah Tailor Centre</a></span><br>
                                            59 New Upper Changi Rd #01-1254<br>
                                            Singapore 461059<br>
                                            No reviews yet.
                                        </div>
                                    </div>
                                </div>
                                <!-- end of rubbish -->
                            </div>
                        </div>
                    </div>
                    <div class="pro-pagination-style text-center mt-30">
                        <ul>
                            <li><a class="prev" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a class="next" href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-style mr-30">
                   <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Search Stores</h4>
                        <div class="pro-sidebar-search mb-50 mt-25">
                            <form class="pro-sidebar-search-form" id="searchForm" name="searchForm" method="post">
                                <input type="text" name="search" placeholder="Store Name">
                                <button type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>

                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Refine By </h4>
                        <div class="sidebar-widget-list mt-30">
                            <ul>

                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value="sales" name="cbList" id="sales" method="post" onChange="this.form.submit()" > <label for="sales"><a>On Sales</a></label>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value="altering" id="altering" name="cbList" onChange="this.form.submit()" ><label for="altering"><a>Altering Services</a></label>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value="tapering" id="tapering" name="cbList" onChange="this.form.submit()"><label for="tapering"><a>Tapering Services</a></label>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-widget-list-left">
                                        <input type="checkbox" value="suits" id="suits" name="cbList" onChange="this.form.submit()" checked><label for="suits"><a>Customised Suits</a></label>
                                        <span class="checkmark"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-45">
                        <h4 class="pro-sidebar-title">Filter By Price </h4>
                        <div class="price-filter mt-10">
                            <div class="price-slider-amount">
                                <input type="text" id="amount" name="price"  placeholder="Add Your Price" style="pointer-events:none;"/>
                            </div>
                            <div id="slider-range"></div>
                            <a href="javascript:{}" onclick="document.getElementById('searchForm').submit();"><i class="fa fa-filter"></i> Filter Now</a>
                        </div>
                        </form>
                        <br><br><a href="/viewshops">Clear All Search and Filters</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
